<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="normal/base::layout(~{::section})">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<section>

		<div class="modal-dialog" style="width: 60%">
			<div class="modal-content bg-c-green">
				<div class="modal-header">
					<h5 style="color: white" class="modal-title" id="exampleModalLabel">
						<i>Reset Password</i>
					</h5>
				</div>
				<div class="modal-body mt-2" style="height: 330px">

					<form th:action="@{/resetPasswordForm}" method="post">
						
						<div class="mb-3">
							<input name="password1" placeholder="Enter New Password" type="password"
								class="form-control" id="recipient-name" required>
						</div>
						<div class="mb-3">
							<input name="confPassword" placeholder="Confirm New Password" type="text"
								class="form-control" id="recipient-name" required>
						</div>
						<p style="color: white">we'll send you a verification OTP on
							this email <b><i style="text-decoration: underline;" th:text="${hide_email}"></i></b></p>
						
						<div class="mb-3 d-flex">
							<input name="resetOtp" placeholder="Enter OTP*" type="text"
								class="form-control" required style="width: 110px">
							<button style="margin-left: 10px" type="button" onclick="getOtp()"
								class="btn btn-secondary">Get OTP</button>
						</div>
						
						<button type="submit" class="btn btn-success">Save</button>
					</form>


				</div>
			</div>
		</div>
	</section>
</body>
</html>