<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="base::layout(~{::section})">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<section class="p-4" style="height: 55.5vh">
		<h1 class="text-white">This is about Page</h1>
		<h5>
			<div style="width: 90%; color: white;">Lorem ipsum dolor sit
				amet, consectetur adipisicing elit. Perspiciatis saepe repudiandae
				iure totam sequi mollitia tempora tempore ratione vel illo natus
				nulla repellendus quis. Voluptatum porro voluptatem cupiditate et
				assumenda molestias magnam cumque iure accusantium nesciunt dolores
				rem vero doloremque ex maxime. Saepe nulla soluta rerum est iure
				cupiditate voluptas. Lorem ipsum dolor sit amet, consectetur
				adipisicing elit. Dolorum fugit cum quasi quas eveniet ex sint optio
				facilis totam eaque et dolor quis blanditiis assumenda iure maxime
				ipsam cupiditate! Veritatis molestiae repellat tenetur nobis ab
				laboriosam culpa sunt doloribus. Maxime ratione omnis unde quam sed
				maiores facilis architecto sint dicta dolorum aut necessitatibus
				laborum animi vel magnam aliquid nesciunt delectus harum perferendis
				asperiores est repellendus sunt dolore molestiae provident
				voluptatem iusto. A ullam alias consequuntur enim maiores nam nobis
				rerum soluta in quae? Nam id neque recusandae sunt exercitationem
				nisi provident adipisci dolor consequuntur eligendi hic ipsa
				suscipit veritatis delectus.</div>
			</h3>
	</section>
</body>
</html>