<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="base::layout(~{::section})">
<head>
<meta charset="ISO-8859-1">
<title>Generate OTP</title>
</head>
<body>

	<section>
		<div class="container-fluid h-custom mt-5">
			<div
				class="row d-flex justify-content-center align-items-center h-100">
				<div class="col-md-9 col-lg-6 col-xl-5">
					<div th:if="${session.message}"
						th:classappend="${session.message.type}" class="alert"
						role="alert">
						<p class="text-center" th:text="${session.message.content}"></p>
						<th:block th:text="${@sessionHelper.removeMessageFromSession()}"></th:block>
					</div>
					<img
						src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp"
						class="img-fluid" alt="Sample image">
				</div>

				<div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1 text-white">
					<h3 class="text-center" style="margin-top: -145px">Generate OTP</h3>
					<hr />
					
					<form th:action="@{/otpFormAction}" method="post">
						
						<div class="mb-3">
							<input name="email" placeholder="name12@gmail.com" type="email"
								class="form-control" id="recipient-name">
						</div>
						<p style="color: white">we'll send you a verification OTP on
							this email <b><i style="text-decoration: underline;" th:text="${hide_email}"></i></b></p>
						
						<button type="submit" class="btn btn-success">Sent OTP</button>
					</form>

				</div>
			</div>
		</div>

	</section>

</body>
</html>